.Carting{
    margin:100px 170px
}

.Carting hr{
    height: 3px;
    background: rgb(47, 45, 40);
    border: 0;
}

.Carting-format{
    display: flex;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: rgb(35, 33, 31);
    font-size: 18px;
    font-weight: 600;
}