body p {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: darkgray;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #ccc;
}

th {
    background-color: #ccc;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.checkout-form {
    margin-top: 20px;
}

.checkout-form label {
    display: block;
    margin-bottom: 5px;
}

.checkout-form input[type="text"],
.checkout-form input[type="number"],
.checkout-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #ebe7e7;
}

.checkout-form input[type="submit"] {
    width: auto;
    margin-top: 10px;
    cursor: pointer;
}
