body p {
    font-family: Arial, sans-serif;
    /* background-image: url('pexels-lum3n-44775-322207.jpg'); */
    background-size: cover;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
}
h2 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
button l{
    background-color: #1f3ea3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
button:hover {
    background-color: #6c6b84;
}
