.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
}


body{
  padding: 0;
  margin: 0;
}


  footer {
    width: 100%;
    background-color: #647582;
    font-family: Calibri, sans-serif;
    padding: 15px 0; /* Shorter notation for padding */
    text-align: center;
  }
  
